.topPlayer {
    border: 3px solid #f6465d;
}

.secPlayer {
    border: 3px solid #ffab34;
}

.thirdPlayer {
    border: 3px solid #2ebd85;
}

.winRateAboveFiftyPercent {
    color: #2ebd85;
}

.lowWinRate {
    color: #f6465d;
}