.firstTeam {
    border-bottom: 2px solid #f5f5f5;
}

.playerInfo {
    border-top: 2px solid rgba(0, 0, 0, .15);
}

.textGray {
    color: #525253;
}

.textGreen {
    color: #10b981;
}

.textRed {
    color: #ef4444;
}

.matchesTitle {
    font-size: 1.125rem;
    font-weight: 600;
    color: #6b7280;
    border: 2px solid #e5e7eb;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.matchesPlayerTitle {
    border-bottom: 1px solid #adadad;
}